{% extends '::base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<section id="advertisement">
    <div class="container">
        <img src="{{ asset('images/shop/advertisement.jpg') }}" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include '::sidebar.html.twig' %}
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product112.jpg') }}" alt="" />
                                    <h2>135 000 F</h2>
                                    <p>Canapé fixe</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>135 000 F</h2>
                                        <p>Canapé fixe</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product111.jpg') }}" alt="" />
                                    <h2>250 000 F</h2>
                                    <p>Canapé convertible</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>250 000 F</h2>
                                        <p>Canapé convertible</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product110.jpg') }}" alt="" />
                                    <h2>250 000 F</h2>
                                    <p>Lit pour enfants</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>250 000 F</h2>
                                        <p>Lit pour enfants</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product19.jpg') }}" alt="" />
                                    <h2>120 000 F</h2>
                                    <p>Table TV</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>120 000 F</h2>
                                        <p>Table TV</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                                <img src="{{ asset('images/home/new.png') }}" class="new" alt="" />
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product18.jpg') }}" alt="" />
                                    <h2>175 000 F</h2>
                                    <p>Commode 7 tiroirs</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>175 000 F</h2>
                                        <p>Commode 7 tiroirs</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                                <img src="{{ asset('images/home/sale.png') }}" class="new" alt="" />
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/shop/product17.jpg') }}" alt="" />
                                    <h2>450 000 F</h2>
                                    <p>Canapé en cuir</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>450 000 F</h2>
                                        <p>Canapé en cuir</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product16.jpg') }}" alt="" />
                                    <h2>175 000 F</h2>
                                    <p>Commode 7 tiroirs</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>175 000 F</h2>
                                        <p>Commode 7 tiroirs</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product15.jpg') }}" alt="" />
                                    <h2>120 000 F</h2>
                                    <p>Fauteuil de bureau</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>120 000 F</h2>
                                        <p>Fauteuil de bureau</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product14.jpg') }}" alt="" />
                                    <h2>35 000 F</h2>
                                    <p>Fauteuil soft</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>35 000 F</h2>
                                        <p>Fauteuil soft</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product13.jpg') }}" alt="" />
                                    <h2>250 000 F</h2>
                                    <p>Lit pour enfants</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>250 000 F</h2>
                                        <p>Lit pour enfants</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product12.jpg') }}" alt="" />
                                    <h2>135 000 F</h2>
                                    <p>Canapé fixe</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>135 000 F</h2>
                                        <p>Canapé fixe</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{ asset('images/home/product11.jpg') }}" alt="" />
                                    <h2>275 000 F</h2>
                                    <p>Canapé convertible déhoussable</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>275 000 F</h2>
                                        <p>Canapé convertible déhoussable</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Wishlist</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">&raquo;</a></li>
                    </ul>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>
{% endblock %}